<!DOCTYPE html>

<html>
<%- partial('_partial/head') %>
<body>
	<!-- Menu -->
	<%- partial('_partial/menu') %>
	<div class="jumbotron" <% if(is_home()) { %>data-aos="fade-up"<% } %>>
		<!-- Blog Header; title and subtitle -->
		<%- partial('_partial/header') %>
	</div>
	<div class="main">
		<!-- Main content -->
		<%- body %>
	</div>

	<!-- Footer -->
	<%- partial('_partial/footer') %>
	<!-- After footer scripts -->
	<%- partial('_partial/after-footer') %>
</body>
</html>